:root {
        --bg-body: hsl(0, 0%, 8%);
        --bg-body2: hsl(0, 0%, 14%);
        --accent: hsl(153, 71%, 59%);
        --text1: hsl(0, 0%, 100%);
        --text2: hsl(0, 0%, 85%);
        --invalid: hsl(7, 100%, 68%);
    }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--bg-body);
    color: var(--text1);
}

.navbar h1{
    margin: 1rem 0 0 8rem;
    font-weight: 900;
} 
.social-icon {
    position: absolute;
    top: 0;
    left: 62.7%;
    z-index: 1;
}
.social-icon i{
    padding: 0.9em;
    font-size: 1.4em;
}
.content{
    position: relative;
}
    .content .img img {
        width: 23.5em;
        margin: 0 0 0 47rem;
        margin-top: -5rem;
    }

    .content .text{
        position: relative;
        bottom: 28.9em;
        margin: 0 0 0 8em;
    }

    .content .text h1{
        font-size: 4.6em;
    }
    .content .text h1 span{
        border-bottom: 5px solid var(--accent);
    }

    .content .text p{
        width: 26.1em;
        font-size: 1.2em;
        margin-top: 0.8em;
    }

    .content .text button{
        background: none;
        color: white;
        border: none;
        border-bottom: 2px solid var(--accent);
        margin-top: 2em;
        font-size: 1.4em;
    }

    @media (max-width:375px) {
        .content .text h1{
            font-size: 2em;
        }
        .content .text p{
            width: 23em;
            font-size: 1em;
            margin-top: 0.8em;
        }
        .navbar h1{
            position: absolute;
            margin: 0 0 0 6rem;
            font-weight: 900;
            z-index: 1;
        } 
        .social-icon {
            position: absolute;
            top: 2.5em;
            left: 25%;
            z-index: 1;
        }
        .social-icon i{
            padding: 12px;
            font-size: 1.4em;
        }
        .content{
            position: relative;
        }
            .content .img img {
                width: 17em;
                margin: 0 0 0 3rem;
            }
        
            .content .text{
                position: relative;
                bottom: 10px ;
                margin: 0 0 0 2em;
            }
            .content .text button{
                margin-top: 0.9em;
            }
    }

.contaner{
    position: relative;
    bottom: 18.5em;
}
.contaner .sk {
    font-size: 3em;
    border-bottom: 7px solid var(--accent);
    width: 160px;
    margin: 0 0 0 32rem;
}
.content-skills{
    display: flex;
    flex-direction: row;
}
.skills{
    padding: 60px;
    margin: 0 0 0 85px;
}
.contact2{
    display: flex;
    flex-direction: row;
}
.skills2{
    padding: 50px;
    margin: 0 0 10rem 85px;
}


@media (max-width:375px) {
    .contaner{
        position: relative;
        top: 0rem;
    }
    .contaner .sk {
        font-size: 2em;
        border-bottom: 7px solid var(--accent);
        width: 105px;
        margin: 5rem 0 0 9rem;
    }
    .content-skills{
        display: flex;
        flex-direction: column;
    }
    .skills{
        padding: 20px;
        margin: 0 0 0 85px;
    }
    .contact2{
        display: flex;
        flex-direction: column;
    }
    .skills2{
        padding: 20px;
        margin: 0 0 0 85px;
    }
}

.card-contact{
    position: relative;
    bottom: 25em;
}
.card-text{
    font-size: 3em;
    border-bottom: 7px solid var(--accent);
    width: 4.1em;
    margin: 5rem 0 0 32.5rem;
}

.card-items{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-gap: 15px;
}

.card{
    margin: 2rem 0 0 70px;  

}

.card img{
    width: 380PX;
    transition: 0.8s ease;
}
.card img:hover{
    transform: scale(1.1);
}
.card h3 span{
    margin-right:1em;
}

@media (max-width:375px) {
    .card-contact{
        position: relative;
        top: 5em;
    }
    .card-text{
        font-size: 3em;
        border-bottom: 7px solid var(--accent);
        width: 4.1em;
        margin: 2rem 0 0 5rem;
    }
    
    .card-items{
        display: flex;
        flex-direction: column;
    }
    
    .card{
        margin: 2rem 0 0 15px;
        transition: 0.8s ease;
    }
        .card img:hover{
            transform: scale(1.1);
        }
    
    .card img{
        width: 320PX;
    }
    .card h3 span{
        margin-right:1em;
    }
}

.contact-me{
    position: relative;
    bottom: 14em;
    display: flex;
}
.contact-text{
    width: 25em;
    margin: 0 0 0 10em;
}
.contact-me h1{
    font-size: 4.5em;
}
.contact-me p{
    font-size: 0.8em;
}
.contact-form{
    margin-left: 20em;
}
.contact__control input{
    background: none;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    padding:20px;
}
#name,
#email,
#Message
{
    padding-left: 2px;
}
#Message {
    margin-top:50px;
    padding-bottom: 20px;
}

@media (max-width:375px) {
    .contact-me{
        position: relative;
        top: 11em;
        display: flex;
        flex-direction: column;
    }
    .contact-text{
        width: 20em;
        margin: 0 0 0 2em;
    }
    .contact-me h1{
        font-size: 3.7em;
        margin-left: 15px;
    }
    .contact-me p{
        font-size: 0.8em;
    }
    .contact-form{
        margin-left: 5em;
    }
    .contact__control input{
        background: none;
        color: white;
        border: none;
        border-bottom: 3px solid white;
        padding:20px;
    }
    #name,
    #email,
    #Message
    {
        padding-left: 2px;
    }
    #Message {
        margin-top:40px;
        padding-bottom: 20px;
    }
}











